@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: Arial, sans-serif;
  background-color: $body-color;
}

.navbar-brand {
  font-family: "Arial Black", sans-serif;
  color: #fff;
}

header,
.navbar {
  background-color: $header-color;
}

footer {
  background-color: $footer-color;
}
